:host ::ng-deep .custom-header {
  width: 100%;
  margin: 0;
  border: none !important;
}

:host ::ng-deep .custom-header .p-panel-header {
  background-color: #1e293b;;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 0;
  padding: 20px 16px;
}

:host ::ng-deep .custom-header .p-panel-content {
  display: none;
}
