:host ::ng-deep .custom-header {
  width: 100%;
  margin: 0;
  border: none !important;
}

:host ::ng-deep .custom-header .p-panel-header {
  background-color: #484450;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 0;
  padding: 8px 16px;
}

:host ::ng-deep .custom-header .p-panel-content {
  display: none;
}

.logo img {
  cursor: pointer;
}

// .custom-header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1000;
// }
