.filter {

  margin-bottom: 24px;

  &__name,
  &__cpf {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    align-items: flex-end;
  }

  &__buttons > * + * {
    margin-left: 5px;
  }
}

:host ::ng-deep .p-inputmask input {
  width: 100% !important;
}

@media screen and (max-width: 767px) {
  .filter {

    &__name {
      margin-bottom: 1rem;
    }

    &__buttons {
      margin-top: 1rem;
    }

  }
}
