<p-card class="filter">
  <form class="row col-12" [formGroup]="filterForm">
    <div class="filter__name col-12 col-md-3">
      <label for="username">Nome</label>
      <input [pKeyFilter]="regexAlphaNumAccents" maxlength="255" pInputText id="username" aria-describedby="username-help" formControlName="name"/>
    </div>

    <div class="filter__cpf col-12 col-md-3">
      <label for="cpf">CPF</label>
      <input pInputText aria-describedby="cpf-help" placeholder="000.000.000-00" formControlName="cpf" />
    </div>

    <div class="filter__buttons col-md-6">
      <p-button label="Filtrar" icon="pi pi-search" (click)="doFilter()"/>
      <p-button label="Limpar Filtro" icon="pi pi-times" severity="secondary" (click)="clearFilter()"/>
    </div>
  </form>
</p-card>






