@use 'main' as *;

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 70px;
  background: linear-gradient(300deg, #484450, #459a96 100%);
  color: $color-text-bg-light-default;
  transition: width 0.3s ease;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.sidebar.expanded {
  width: 220px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


.toggle-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: $color-action-bg-light-hover !important;
  border: none !important;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 12px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar.expanded .menu li {
  justify-content: flex-start;
  padding-left: 20px;
}

.menu li:hover {
  background-color: $color-action-bg-light-hover;
}

.menu i {
  font-size: 1.3rem;
  width: 25px;
  text-align: center;
}

.menu span {
  font-size: 15px;
  white-space: nowrap;
}
// color3	#459a96
// color4	#34baab
