<p-toast />
<div class="row col-12">
  <div class="user__header">
    <div class="user__header--title">
      <h2 class="page-title">Usuários</h2>
      <p>Busque e adicione usuários</p>
    </div>

    <div class="user__header--actions">
      <p-button routerLink="/adicionar-usuarios" icon="pi pi-plus" label="Adicionar Usuários" variant="outlined" severity="info" />
    </div>
  </div>
</div>

<app-user-filter (filterEvent)="doFilterUsers($event)"></app-user-filter>

<app-user-list
  [dataSource]="dataSource"
  (removeUserEvent)="onRemoveUser($event)"
  ></app-user-list>
