<p-toast />
<div class="row col-12">
  <div class="user-register__header">
    <div class="user-register__header--title">
      <h2 class="page-title">Cadastro de Usuários</h2>
      <p>Adicione usuários, preencha os campos obrigatórios</p>
    </div>
  </div>
</div>

<p-card>
  <form class="user-form" [formGroup]="registerForm">
    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12">
          <label for="fullName">Nome Completo</label>
          <input
            [pKeyFilter]="regexAlphaNumAccents"
            pInputText
            id="fullName"
            name="fullName"
            maxlength="255"
            placeholder="Digite o nome completo"
            formControlName="fullName"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="cpf">CPF</label>
          <input
            pInputText
            id="cpf"
            name="cpf"
            mask="999.999.999-99"
            placeholder="000.000.000-00"
            formControlName="cpf"
          >
        </div>

        <div class="user-form__itens col-12">
          <label for="email">E-mail</label>
          <input
            pInputText
            id="email"
            type="email"
            name="email"
            placeholder="exemplo@email.com"
            formControlName="email"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12 ">
          <label for="phone">Telefone</label>
          <input
            pInputText
            id="phone"
            name="phone"
            mask="(99) 99999-9999"
            placeholder="(00) 90000-0000"
            formControlName="phone"
          >
        </div>

        <div class="user-form__itens col-12">
          <label for="dateBirthday">Data de Nascimento</label>
          <input
            pInputText
            mask="99/99/9999"
            placeholder="99/99/9999"
            slotChar="dd/mm/yyyy"
            formControlName="dateBirthday"/>
        </div>

        <div class="user-form__itens col-12">
          <label for="password">Senha</label>
          <input
            pPassword
            id="password"
            name="password"
            [feedback]="false"
            placeholder="Digite a senha"
            formControlName="password"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12 md:col-4">
          <label for="role">Cargo</label>
          <p-select
            [options]="roles"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecione o cargo"
            formControlName="role"
            class="w-full"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="dailyHours">Horas Diárias</label>
          <p-select
            [options]="dailyHours"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecione as horas diárias"
            formControlName="dailyHours"
            class="w-full"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="avatar">Avatar (URL)</label>
          <input
            pInputText
            id="avatar"
            name="avatar"
            placeholder="https://..."
            formControlName="avatar"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12 ">
          <label for="startTime">Hora de Início</label>
          <input
            pInputText
            id="startTime"
            name="startTime"
            mask="Hh:m0"
            placeholder="HH:MM"
            formControlName="startTime"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="endTime">Hora de Término</label>
          <input
            pInputText
            id="endTime"
            name="endTime"
            mask="Hh:m0"
            placeholder="HH:MM"
            formControlName="endTime"
          />
        </div>
      </div>
    </div>

    <div class="col-12 user-form__buttons">
      <!-- <p-button
        severity="secondary"
        label="Cancelar"
        icon="pi pi-times"
        routerLink="/usuarios">
      </p-button> -->
      <p-button
        (click)="sendUserRegister()"
        type="submit"
        label="Salvar"
        icon="pi pi-check">
      </p-button>
    </div>
  </form>
</p-card>

