<div class="row col-12">
  <div class="user-register__header">
    <div class="user-register__header--title">
      <h2 class="page-title">Cadastro de Usuários</h2>
      <p>Adicione usuários, preencha os campos obrigatórios</p>
    </div>
  </div>
</div>

<p-card>
  <form class="user-form">
    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12">
          <label for="fullName">Nome Completo</label>
          <input
            pInputText
            id="fullName"
            name="fullName"
            maxlength="255"
            placeholder="Digite o nome completo"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="cpf">CPF</label>
          <p-inputmask
            id="cpf"
            name="cpf"
            mask="999.999.999-99"
            placeholder="000.000.000-00"
          ></p-inputmask>
        </div>

        <div class="user-form__itens col-12">
          <label for="email">E-mail</label>
          <input
            pInputText
            id="email"
            type="email"
            name="email"
            placeholder="exemplo@email.com"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12 ">
          <label for="phone">Telefone</label>
          <p-inputmask
            id="phone"
            name="phone"
            mask="(99) 99999-9999"
            placeholder="(00) 00000-0000"
          ></p-inputmask>
        </div>

        <div class="user-form__itens col-12">
          <label for="dateBirthday">Data de Nascimento</label>
          <p-inputmask
            mask="99/99/9999"
            placeholder="99/99/9999"
            slotChar="dd/mm/yyyy" />
        </div>

        <div class="user-form__itens col-12">
          <label for="password">Senha</label>
          <input
            pPassword
            id="password"
            name="password"
            [feedback]="false"
            placeholder="Digite a senha"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12 ">
          <label for="role">Cargo</label>
          <p-select
            [options]="['ADM']"
            optionLabel="cargo"
            placeholder="Selecione Cargo"
            class="w-full md:w-56" />
        </div>

        <div class="user-form__itens col-12">
          <label for="dailyHours">Horas Diárias</label>
          <p-inputMask
            id="dailyHours"
            name="dailyHours"
            mask="99:99"
            placeholder="HH:MM"
            [slotChar]="'0'"
            [pKeyFilter]="'int'"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="avatar">Avatar (URL)</label>
          <input
            pInputText
            id="avatar"
            name="avatar"
            placeholder="https://..."
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <div class="user-form__itens col-12 ">
          <label for="startTime">Hora de Início</label>
          <p-inputMask
            id="startTime"
            name="startTime"
            mask="99:99"
            placeholder="HH:MM"
            [slotChar]="'0'"
            [pKeyFilter]="'int'"
          />
        </div>

        <div class="user-form__itens col-12">
          <label for="endTime">Hora de Término</label>
          <p-inputMask
            id="endTime"
            name="endTime"
            mask="99:99"
            placeholder="HH:MM"
            [slotChar]="'0'"
            [pKeyFilter]="'int'"
          />
        </div>
      </div>
    </div>

    <div class="col-12 user-form__buttons">
      <p-button
        label="Cancelar"
        severity="danger"
        icon="pi pi-times">
      </p-button>
      <p-button
        label="Salvar"
        severity="info"
        icon="pi pi-check"
        routerLink="/usuarios">
      </p-button>
    </div>
  </form>
</p-card>
