<div class="row col-12">
  <div class="user-register__header">
    <div class="user-register__header--title">
      <h2 class="page-title">Cadastro de Usuários</h2>
      <p>Adicione usuários, preencha os campos obrigatórios</p>
    </div>
  </div>
</div>

<p-card>
  <form class="user-form" [formGroup]="registerForm">
    <h3 class="page-title">Informações Pessoais</h3>
    <div class="row">
      <div class="col-12 user-form__group">
        <p-iftalabel class="user-form__itens col-12">
          <input
          [pKeyFilter]="regexAlphaNumAccents"
          pInputText
          id="fullName"
          name="fullName"
          maxlength="255"
          formControlName="fullName"
          />
          <label for="fullName">Nome Completo</label>
        </p-iftalabel>

        <p-iftalabel class="user-form__itens col-12">
          <input
          pInputText
          id="cpf"
          name="cpf"
          mask="999.999.999-99"
          formControlName="cpf"
          >
          <label for="cpf">CPF</label>
        </p-iftalabel>

        <p-iftalabel class="user-form__itens col-12">
          <input
          pInputText
          id="email"
          type="email"
          name="email"
          formControlName="email"
          />
          <label for="email">E-mail</label>
        </p-iftalabel>
      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <p-iftalabel class="user-form__itens col-12 ">
          <input
          pInputText
          id="phone"
          name="phone"
          mask="(99) 99999-9999"
          formControlName="phone"
          >
          <label for="phone">Telefone</label>
        </p-iftalabel>

        <p-iftalabel class="user-form__itens col-12">
          <input
          pInputText
          mask="99/99/9999"
          slotChar="dd/mm/yyyy"
          formControlName="dateBirthday"/>
          <label for="dateBirthday">Data de Nascimento</label>
        </p-iftalabel>
      </div>
    </div>

    <h3 class="page-title">Informações Profissionais e de Horário</h3>
    <div class="row">
      <div class="col-12 user-form__group">
        <p-iftalabel class="user-form__itens col-12 md:col-4">
          <p-select
          [options]="roles"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione o cargo"
          formControlName="role"
          class="w-full"
          />
          <label for="role">Cargo</label>
        </p-iftalabel>

        <p-iftalabel class="user-form__itens col-12">
          <p-select
          [options]="dailyHours"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione as horas diárias"
          formControlName="dailyHours"
          class="w-full"
          />
          <label for="dailyHours">Horas Diárias</label>
        </p-iftalabel>


      </div>
    </div>

    <div class="row">
      <div class="col-12 user-form__group">
        <p-iftalabel class="user-form__itens col-12 ">
          <input
          pInputText
          id="startTime"
          name="startTime"
          mask="Hh:m0"
          placeholder="HH:MM"
          formControlName="startTime"
          />
          <label for="startTime">Hora de Início</label>
        </p-iftalabel>

        <p-iftalabel class="user-form__itens col-12">
          <input
          pInputText
          id="endTime"
          name="endTime"
          mask="Hh:m0"
          placeholder="HH:MM"
          formControlName="endTime"
          />
          <label for="endTime">Hora de Término</label>
        </p-iftalabel>
      </div>
    </div>

    <h3 class="page-title">Acesso e Personalização</h3>
    <div class="row">
      <div class="col-12 user-form__group">

        <!-- TODO: Deixar desabilitado e gerar uma senha automaticamente e enviar para o email do usuário cadastrado -->
        <p-iftalabel class="user-form__itens col-12">
          <input
            pPassword
            type="password"
            id="password"
            name="password"
            [feedback]="false"
            [disabled]="true"
            formControlName="password"
          />
          <label for="password">Senha</label>
        </p-iftalabel>

        <!-- TODO: Enviar um avatar por padráo -->
        <p-iftalabel class="user-form__itens col-12">
          <input
            pInputText
            id="avatar"
            name="avatar"
            formControlName="avatar"
          />
          <label for="avatar">Avatar</label>
        </p-iftalabel>
      </div>
    </div>

    <div class="col-12 user-form__buttons">
      <p-button
        (click)="sendUserRegister()"
        type="submit"
        label="Salvar"
        icon="pi pi-check">
      </p-button>
    </div>
  </form>
</p-card>

