@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  padding: 0!important;
  margin: 0!important;
  font-family: 'Roboto', sans-serif;
}
