$main-color-primary: #34baab;

$color-base-surface: #F0F0F0;
$color-base-on-surface: #292929;
$color-base-primary: #025E29;
$color-base-secondary: #78DE1E;
$color-base-emphasis: #F0A501;
$color-base-interactive: #0C41ED;
$color-base-error: #F55D45;
$color-base-warning: #E9E233;
$color-base-success: #00E8A6;
$color-base-informational: #34D1E3;

// Use para cor de fundo
$color-background-light: #FFFFFF;
$color-background-dark: #004521;

// Use como cor de superfície, por cima do background, como fundo de cards
$color-surface-default: #FAFAFA;
$color-surface-subdued: #F5F5F5;
$color-surface-hover: #F0F0F0;
$color-surface-disabled: #E0E0E0;
$color-surface-dark: #272727;
$color-surface-error: #FFE5E0;
$color-surface-warning: #FCFADF;
$color-surface-success: #DAFBF2;
$color-surface-informational: #D6FAFF;

//Use como cor de texto para títulos, subtítulos e corpo
$color-text-bg-light-default: #FAFAFA;
$color-text-bg-light-subdued: #666666;
$color-text-bg-light-disabled: #A3A3A3;
$color-text-bg-light-action: #014D2A;
$color-text-bg-light-error: #8F2100;
$color-text-bg-light-warning: #545208;
$color-text-bg-light-success: #005238;
$color-text-bg-light-informational: #0C556A;

// $color-text-bg-dark-default: #CCCCCC;
// $color-text-bg-dark-subdued: #F5F5F5;
// $color-text-bg-dark-disabled: #A3A3A3;
// $color-text-bg-dark-action: #FFFFFF;
// $color-text-bg-dark-error: #FFE3E0;
// $color-text-bg-dark-warning: #FCFADF;
// $color-text-bg-dark-success: #BFF8E8;
// $color-text-bg-dark-informational: #BDF7FF;

// Use como cor de icons que não são interativos e que representam os status de error, warning  e success
$color-icons-default: #666666;
$color-icons-hover: #292929;
$color-icons-pressed: #666666;
$color-icons-disabled: #A3A3A3;
$color-icons-error: #8F2100;
$color-icons-warning: #545208;
$color-icons-success: #005238;
$color-icons-informational: #0C556A;

// Use como cor de borda para cards, inputs..
$color-border-one: #E0E0E0;
$color-border-two: #A3A3A3;
$color-border-three: #666666;
$color-border-error: #CC2F00;
$color-border-warning: #BAB612;
$color-border-success: #00CC8C;
$color-border-informational: #1593B7;

// Use como ações primárias como em botões, ícones, texto de navegação
$color-action-bg-light-default: #34baab;
$color-action-bg-light-hover: #459a96;
$color-action-bg-light-disabled: #CCCCCC;

// $color-action-bg-dark-default: #D4B3FF;
// $color-action-bg-dark-hover: #C89EFF;
// $color-action-bg-dark-pressed: #BA86FF;
// $color-action-bg-dark-disabled: #CCCCCC;

// Use como ações secundárias como em botões, ícones, texto de navegação
$color-action-error-default: #8F2100;
$color-action-error-hover: #6B1900;
$color-action-error-disabled: #FFE5E0;

// Use como ações primárias como em botões, ícones, texto de navegação
$color-focused-default: #014D2A;

// color1	#484450
// color2	#466067
// color3	#459a96
// color4	#34baab
// color5	#c4c8c5
